.header {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 30px;
}

.header > span {
    font-size: 24px;
    font-weight: bold;
}

.header > input {
    margin: 0 10px;
    flex: 1;
    border: solid 1px #999;
    outline: none;
    height: 30px;
    background-color: transparent;
    padding-left: 20px;
    border-radius: 3px;
}

.header > button {
    height: 32px;
    background-color: transparent;
    outline: none;
    border: solid 1px #999;
    padding: 0 12px;
    margin-right: 100px;
    border-radius: 3px;
}